@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font-inter:"Inter", sans-serif;

    --color-principal: #F3F5FC;
    --color-secundario: #0A3871;
    --color-terciario: #FFFFFF;
    --color-boton2: #D8DFE8;
    --color-hover1: #114c94;
    --color-hover2: #e5e6e9;
    --color-hover3: #f3f3f3;
    --color-sombra: #d8d8d87e;
    
    --color-texto-claro: #495057;
    --color-texto-oscuro: #343A40;
}

* {
    padding: 0;
    margin: 0;
}

.cuerpo_contenido{
    background-color: var(--color-principal);
    box-sizing: border-box;
}

.contenido_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seccion_izquierda{
    width: 65%;
    padding: 0% 0% 5% 0%;
}

.seccion_encabezado{
    display: flex;
    padding: 3%;
    align-items: center;
}

.texto_encabezado{
    font-family: var(--font-inter);
    font-weight: 400;
    color: var(--color-secundario);
    font-size: 1rem;
}

.seccion_entrada{
    display: flex;
    padding: 5% 8% 2% 25%;
    flex-direction: column;
    gap: 15px;
}

.titulo_entrada{
    font-family: var(--font-inter);
    color: var(--color-secunadio);
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    padding: 0% 0% 4% 0%;
}

.texto_entrada{
    padding: 1rem;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--color-texto-oscuro);
    border-radius: 0.5rem;
    border-color: var(--color-secunadrio);
    height: 16rem;
    width: 100%;
    resize: none;
    background-color: var(--color-terciario);
}

.seccion_pie_pagina{
    display: flex;
    gap: 0.5rem;
    justify-content: left;
}

.texto_pie_pagina{
    font-family: var(--font-inter);
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--color-texto-claro);
}

.boton_contenido{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.boton_encriptado{
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-terciario);
    background-color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
    border-radius: 1rem;
    height: 3rem;
    width: 20rem;
    text-align: center;
}

.boton_encriptado:hover{
    background-color: var(--color-hover1);
}

.boton_desencriptado{
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-secundario);
    background-color: var(--color-boton2);
    border: 1px solid var(--color-secundario);
    border-radius: 1rem;
    height: 3rem;
    width: 20rem;
    text-align: center;
}

.boton_desencriptado:hover{
    background-color: var(--color-hover2);
}

.seccion_derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 35rem;
    background-color: var(--color-terciario);
    border-radius: 2rem;
    margin: 4% 10% 4% 0%;
    padding: 2%;
    gap: 1rem;
    position: relative;
}

.seccion_derecha::after{
    position:absolute;
    border-radius: 2rem;
    top: 1.5rem;
    left: 0px;
    content: ' ';
    background-color: var(--color-sombra);
    height: 100%;
    width: 100%;
    filter: blur(7px);
    z-index: -1;
}

.imagen_derecha{
    width: 90%;
}

.texto_derecha1{
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-texto-oscuro);
    text-align: center;
    padding: 0% 0% 5% 0%;
}

.texto_derecha2{
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-texto-claro);
    text-align: center;
}

.texto_derecha3{
    font-family: var(--font-inter);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-text-oscuro);
    padding: 5rem 3rem 7rem 3rem;
    border: 0;
    border-radius: 0.5rem;
    align-items: center;
    text-align: justify;
    resize: none;
    white-space: pre-wrap;
}

.boton_copia{
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-secundario);
    background-color: var(--color-terciario);
    border: 1px solid var(--color-secundario);
    border-radius: 1rem;
    padding: 0.75rem 3.8rem;
    height: 3rem;
    width: 20rem;
}

.boton_copia:hover{
    background-color: var(--color-hover3);
}

.texto_oculto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .contenido_menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seccion_izquierda{
        width: 95%;
        padding: 0%;
    }

    .texto_entrada{
        height: 24rem;
    }

    .seccion_entrada{
        padding: 10%;
    }

    .seccion_derecha{
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 4% 4% 4% 4%;
        margin: 0;
        height: auto;
        width: 70%;
    }

    .imagen_derecha{
        display: none;
    }

    .boton_copia{
        width: 100%;
        height: auto;
    }

    .texto_oculto{
        width: 100%;
        height: auto;
    }

    .texto_derecha3{
        width: auto;
        text-align: center;
        justify-items: center;
        height: auto;
        padding: 0%;
        margin: 0%;
    }
}

@media (max-width: 375px) {  
    .seccion_encabezado{
        align-items: center;
    }

    .boton_contenido{
        flex-direction: column;
    }

    .boton_encriptado{
        width: 100%;
    }

    .boton_desencriptado{
        width: 100%;
    }

    .seccion_derecha{
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 4%;
        margin: 0;
        height: auto;
        width: 70%;
    }

    .imagen_derecha{
        display: none;
        width: auto;
    }

    .texto_entrada{
        height: 15rem;
    }

    .texto_oculto{
        width: 100%;
        height: auto;
    }

    .texto_derecha3{
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: auto;
        padding: 0;
        margin: 0;
    }
}
